@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #344552;
    color: white;
    text-align: center;
}
h1 {
    font-weight: 400;
    font-size: 3.5rem;
}
input {
    border-radius: 2rem 0 0 2rem;
    border: none;
    height: 6vh;
    width: 25vw;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    color: black;
}
input:focus {
    border: none;
    outline: none;
}
button {
    padding: 0 2rem 0 2rem;
    margin: 0;
    border: none;
    height: 6vh;
    background-color: #007eea;
    color: white;
    font-weight: thin;
    cursor: pointer;
    border-radius: 0 2rem 2rem 0;
}
button:focus {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: rgb(54, 151, 67);
}
#main {
    margin-top: 15vh;
}
#why {
    background-color: white;
    color: black;
    margin-top: 6vh;
    padding: 5vh 18vw;
}
#why h2 {
    font-size: 2.5rem;
    margin: 0 0 5vh 0;
    font-weight: 400;
}
#message {
    font-size: 3rem;
}
